<!DOCTYPE html>
<html lang="<%= _lang_code %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/favicons/favicon.png" />
    <title><%= _meta_title %></title>
    <meta name="description" content="<%= _meta_description %>" />
    <!--START VENDOR STYLES-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <% _styles.each do |path| %>
      <link rel="stylesheet" type="text/css" href="<%= path %>">
    <% end %>
    <!--END VENDOR STYLES-->
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but <%= _meta_title %> doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>

    <header>
      <h1><%= _brand %></h1>
      <h2><%= _slogan %></h2>
    </header>

    <main>
      <%= _content %>
    </main>

    <footer>
      <span>&#169;&#160;</span>
      <span>copyright</span>
    </footer>

    <!--START VENDOR SCRIPTS-->
    <% _scripts.each do |path| %>
      <script type="text/javascript" src="<%= path %>"></script>
    <% end %>
    <!--END VENDOR SCRIPTS-->
  </body>
</html>
